.faction-enl { color: green; }
.faction-res { color: blue; }
#iwwc-app {
	--grid-list-container-columns: auto-fill;
	--grid-list-column-min-size: 300;
	--grid-list-gap: 8;
}
#iwwc-app.loading .iwwc-content { display: none; }
#iwwc-app:not(.loading) > .loading { display: none; }

.stat-pane {
	height: 400px;
	width: 300px;
	overflow: scroll;
}
.stat-value {
	padding-right:5px;
}
.iwwc-content {
	display: grid;
	grid-gap:calc(var(--grid-list-gap) * 1px);
	grid-template-columns: repeat(var(--grid-list-container-columns), minmax(calc(var(--grid-list-column-min-size) * 1px), 1fr));
	grid-template-rows: 1fr;
}
