.faction-enl { color: green; }
.faction-res { color: blue; }
#iwwc-app {
	--grid-list-container-columns: auto-fill;
	--grid-list-column-min-size: 300;
	--grid-list-gap: 24;
}
.loading { color: white; }
#iwwc-app.loading .iwwc-content { display: none; }
#iwwc-app.loading .reload-button { display: none; }
#iwwc-app:not(.loading) > .loading { display: none; }

body {
	background:#333333;
	margin:0;
}
.reload-button {
	cursor:pointer;
}
.reload-button, .start-date, .end-date, .last-refresh, .agent-search {
	background:white;
	border:1px solid black;
	border-radius:5px;
	padding:5px;
	color:#888888;
	display:inline-block;
}

.agent-search {
	clear:both;
	display:inline-flex;
}
.agent-search::before {
	display:block;
	content: 'Search: ';
	border-left:1px solid black;
}

.agent-search input {
	width:300px;
}
.stat-pane {
	max-height: 485px;
	overflow: hidden;
	border:1px solid #888888;
	border-radius: 10px;
	padding: 0;
	display:flex;
	flex-direction:column;
	background:#cccccc;
}
.stat-header {
	border-bottom:1px solid black;
	margin:0;
	padding: 5px 0 0 5px;
}
.stat-value {
	padding-right:5px;
	display:inline-block;
	min-width:40px;
	text-align:right;
}
.stat-content {
	overflow: hidden scroll;
}
.stat-list {
	counter-reset:stat-position;
	display:table;
	margin:0;
	padding:0 0 0 10px;
}

.stat-row {
	display:table-row;
	counter-increment:stat-position;
}
.stat-row.hidden {
	height:0;
	visibility:collapse;
}
.stat-row .stat-position {
	content: counter(stat-position);
	display: table-cell;
	text-align:right;
	padding-right:5px;
}
.stat-row:nth-child(1) .stat-reward {
	content: "*";
	color: #d4af37;
}
.stat-row:nth-child(2) .stat-reward {
	content: "*";
	color: #c0c0c0;
}
.stat-row:nth-child(3) .stat-reward {
	content: "*";
	color: #cd7f32;
}
.stat-row:nth-child(n+4):nth-child(-n+15) .stat-reward {
	content: "*";
	color: #b5a642;
}
.stat-row * {
	display:table-cell;
}

.iwwc-content {
	display: grid;
	grid-gap:calc(var(--grid-list-gap) * 1px);
	grid-template-columns: repeat(var(--grid-list-container-columns), minmax(calc(var(--grid-list-column-min-size) * 1px), 1fr));
	grid-template-rows: 1fr;
}
