.faction-enl { color: green; }
.faction-res { color: blue; }
#iwwc-app {
	--grid-list-container-columns: auto-fill;
	--grid-list-column-min-size: 300;
	--grid-list-gap: 24;
}
.loading { color: white; }
#iwwc-app.loading .iwwc-content { display: none; }
#iwwc-app.loading .reload-button { display: none; }
#iwwc-app:not(.loading) > .loading { display: none; }

body {
	background:#333333;
	margin:0;
}
.reload-button {
	background:white;
	border:1px solid black;
	border-radius:5px;
	padding:5px;
	color:#888888;
	cursor:pointer;
	display:inline-block;
}
.stat-pane {
	height: 485px;
	overflow: hidden;
	border:1px solid #888888;
	border-radius: 10px;
	padding: 0;
	display:flex;
	flex-direction:column;
	background:#cccccc;
}
.stat-header {
	border-bottom:1px solid black;
	margin:0;
	padding: 5px 0 0 5px;
}
.stat-value {
	padding-right:5px;
	display:inline-block;
	min-width:40px;
	text-align:right;
}
.stat-content {
	overflow: hidden scroll;
	height:100%;
}
.stat-list {
	counter-reset:stat-position;
	display:table;
	margin:0;
	padding:0 0 0 10px;
}

.stat-row {
	display:table-row;
	counter-increment:stat-position;
}
.stat-row::before {
	content: counter(stat-position);
	display: table-cell;
	text-align:right;
	padding-right:5px;
}
.stat-row * {
	display:table-cell;
}

.iwwc-content {
	display: grid;
	grid-gap:calc(var(--grid-list-gap) * 1px);
	grid-template-columns: repeat(var(--grid-list-container-columns), minmax(calc(var(--grid-list-column-min-size) * 1px), 1fr));
	grid-template-rows: 1fr;
}
