.stat-footer, .stat-header {
       background:rgba(238, 240, 227, .2);
}
.stat-pane {
	background:initial;
	background-size:100%;
	background-repeat:repeat-y;
	background-blend-mode:darken;
	background-color:rgba(0, 0, 0, 0.5);
}
.stat-pane:nth-child(even) {
	background-image:url('images/photo_2025-06-19_18-13-45.jpg');
}
.stat-pane:nth-child(odd) {
	background-image:url('images/photo_2025-06-24_11-07-49.jpg');
}
.stat-content {
	background-color:rgba(100, 100, 100, 0.5);
}
.stat-header {
	color:#fb7d07;
	position:relative;
	background-color:rgba(100, 100, 100, 0.5);
}
.stat-footer {
	color:#fb7d07;
	background-color:rgba(100, 100, 100, 0.5);
}
.stat-row .stat-position {
	text-shadow:0px 0px 4px rgba(0, 0, 0, 1);
}
.stat-row .stat-value {
	color:#880808;
	text-shadow:0px 0px 4px rgba(128, 128, 128, 1);
	color:#888080;
	text-shadow:0px 0px 4px rgba(136, 8, 8, 1);
}
.stat-value-container .rollover {
	-color:#888080;
	text-shadow:0px 0px 4px rgba(136, 8, 8, 1);
	background-color:#888080;
}
.stat-row .agent {
	text-shadow:0px 0px 4px rgba(128, 128, 128, 0.5);
}
